.btn__click {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 9px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-top: 2px;
    cursor: pointer;

    margin-left: 39vh;
}